* {
    main-bg:            #000000e6;
    main-fg:            #ffffffff;
    main-br:            #c900f1;
    main-ex:            #f5e0dcff;
    select-bg:          #00f1d1;
    select-fg:          #000000ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
